{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    ["es2015", { "modules": false }]
  ],
  "plugins": ["transform-runtime",
  ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
