
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499655069606'); /* IE9*/
  src: url('iconfont.eot?t=1499655069606#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499655069606') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499655069606') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499655069606#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanze:before { content: "\e61d"; }

.icon-wuliu:before { content: "\e63f"; }

.icon-tuihuo:before { content: "\e620"; }

.icon-cshy-rmb2:before { content: "\e62c"; }

.icon-sousuo:before { content: "\e621"; }

.icon-wuxing:before { content: "\e64b"; }

.icon-daifukuan:before { content: "\e7a2"; }

.icon-daipingjia:before { content: "\e643"; }

.icon-coupon:before { content: "\e619"; }

.icon-ai-mark:before { content: "\e667"; }

.icon-z-new:before { content: "\e672"; }

.icon-gerenzhongxin:before { content: "\e675"; }

.icon-xiaoxi:before { content: "\e629"; }

.icon-weibiaoti2fuzhi02:before { content: "\e61f"; }

.icon-xiaoxi1:before { content: "\e67d"; }

.icon-shezhi:before { content: "\e61c"; }

.icon-houtui2:before { content: "\e622"; }

.icon-yichengtuan:before { content: "\e67c"; }

.icon-ccgl-tuihuoyugao-7:before { content: "\e623"; }

.icon-tuikuan1:before { content: "\e66e"; }

.icon-daishouhuo:before { content: "\e61e"; }

.icon-dizhi:before { content: "\e63b"; }

.icon-favorite:before { content: "\e60c"; }

.icon-shouye-shouye:before { content: "\e61a"; }

.icon-gouwucheshixin:before { content: "\e640"; }

.icon-xinpinshixin:before { content: "\e641"; }

.icon-sousuoshixin:before { content: "\e642"; }

.icon-gerenzhongxinxian:before { content: "\e644"; }

.icon-shouye-shixin1:before { content: "\e646"; }

.icon-gouwuche1:before { content: "\e647"; }

.icon-kuaiguoqi:before { content: "\e648"; }

.icon-yishiyong:before { content: "\e649"; }

.icon-yiguoqi:before { content: "\e64a"; }

