
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498033728347'); /* IE9*/
  src: url('iconfont.eot?t=1498033728347#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498033728347') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498033728347') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498033728347#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuo4:before { content: "\e73b"; }

.icon-favorite:before { content: "\e60c"; }

.icon-gouwuchexiantiao:before { content: "\e618"; }

.icon-shouye-shouye:before { content: "\e61a"; }

