img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: top;
}
// 图片懒加载动画
img[lazy=loading] {opacity:0;}
img[lazy=loaded] {transition:opacity .2s; opacity:1;}
.tabbar{
  box-shadow: none;
  height: 1.31rem;
}
.tabbar:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #e0e0e0;
    -webkit-transform: scale(1,.5);
    transform: scale(1,.5);
    -webkit-transform-origin: center top;
    transform-origin: center top;
}
.page.has-nonav .page-content{
  top: -1.07rem;
}
.page.has-tabbar .page-content{
  margin-bottom: 1.31rem;
}
.clear:after, .clear:before {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.tag{
  font-size: .27rem;
  background: #f60;
  color: #ffffff;
  margin-right: 2px;
  padding: 1px 2px;
  border-radius: 2px;
}
